.thanks-header {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  color: white;
}

.thanks-footer {
  font-size: 0.9rem;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  color: white;
}

.thanks-title {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  color: #f6bd1f;
}

.left-align {
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  font-style: italic;
  color: white;
  margin: 10px;
}
