<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.activation.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" /> -->
</head>

<body>
    <p th:text="#{email.activation.greeting(${user.firstName})}">
        Dear
    </p>
    <p th:text="#{email.password.text1}">
        Congratulations! We are excited to let you know that you have taken a first and big step towards joining the network of 400+
        Happy Homeowners and stress-free home maintenance. We have enabled ALL our customers to put their entire home maintenance
        on Auto-pilot by bundling several home services at a bargained/community prices. Our mobile apps will be ready in
        a few weeks, and you would be able access these apps using the email id that you have registered with us during the
        sign-up process. 
        <br />
        
    </p>
    <p th:text="#{email.password.text2}">
        Our Admin will get in touch, in next 24 to 48 hours, with you to verify your property details and request some additional information, if required to complete the sign-up process.
        <br />
        
    </p>
    <p th:text="#{email.password.text3}">
        Meanwhile, if you have any other questions, then please feel free to reply to this email or drop us a note on support@eznesting.com.  
    </p>
    
    <p>
        <span th:text="#{email.activation.text2}">Thanks, </span>
        <br/>
        <em th:text="#{email.signature}">EZ Nesting – Home Maintenance on Auto-pilot</em>
        <br />
        <span th:text="#{email.support.text}">Support</span>
        <br />
        <span th:text="#{email.support.email}">Support@eznesting.com</span>
    </p>
</body>

</html>